.nav_color
{
    background-color: #0000ff55;
}

.left_color
{
    background-color: #66003355;
}

.right_color
{
    background-color: #00777755;
}

.footer_color
{
    background-color: #66669955;
}